<div class="alert alert-success" role="alert" *ngIf="result">
  <h3>Data Added Successfully!</h3>
</div>

<!--Add Labour Card-->
<div>
  <form>
    <div class="ml-2" style="width: 20cm;">
      <mdb-card>
        <mdb-card-body>
          <mdb-card-title>
            <h2>Add New Labour</h2>
          </mdb-card-title>
          <mdb-card-text>
            <form #addLabour="ngForm" (ngSubmit)="submit(addLabour)">
              <mat-radio-group
                aria-label="Select an option"
                name="labourCategory"
                ngModel
                #labourCategory="ngModel"
              >
                <mat-radio-button value="Permanent">Permanent</mat-radio-button>
                <mat-radio-button value="Temporary">Temporary</mat-radio-button>
              </mat-radio-group>
              <mat-form-field style="width: 90ex !important;">
                <mat-label>Select the Labour Type</mat-label>
                <mat-select name="labourType" ngModel #labourType="ngModel">
                  <mat-option
                    *ngFor="let labourType of labourTypes"
                    [value]="labourType"
                  >
                    {{ labourType }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <div class="md-form">
                <input
                  mdbInput
                  required
                  type="text"
                  name="labourName"
                  class="form-control"
                  ngModel
                  #labourName="ngModel"
                />
                <label for="labourName" class="">Labour Name</label>
              </div>
              <div class="md-form">
                <input
                  mdbInput
                  type="text"
                  name="nic"
                  class="form-control"
                  ngModel
                  #nic="ngModel"
                />
                <label for="nic" class="">NIC</label>
              </div>

              <div class="md-form">
                <input
                  mdbInput
                  type="text"
                  name="address"
                  class="form-control"
                  ngModel
                  #address="ngModel"
                />
                <label for="address" class="">Address</label>
              </div>
              <div class="md-form">
                <input
                  mdbInput
                  type="number"
                  name="contactNo"
                  class="form-control-sm"
                  ngModel
                  #contactNo="ngModel"
                />
                <label for="contactNo" class="">Contact Number</label>
              </div>
              <div>
                <mat-form-field>
                  <mat-label>Joined Date</mat-label>
                  <input
                    matInput
                    [matDatepicker]="picker"
                    name="joinedDate"
                    ngModel
                    #joinedDate="ngModel"
                  />
                  <mat-datepicker-toggle
                    matSuffix
                    [for]="picker"
                  ></mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
              </div>
              <button
                mdbBtn
                class="float-right"
                type="submit"
                color="success"
                mdbWavesEffect
              >
                Add Labour
              </button>
            </form>
          </mdb-card-text>
        </mdb-card-body>
      </mdb-card>
    </div>
  </form>
</div>
