<!--Naked Form-->
<div class="card-block">
  <div class="alert alert-success" role="alert" *ngIf="result">
    <h3>Data Added Successfully!</h3>
  </div>
  <div class="alert alert-success" role="alert" *ngIf="wait && !result">
    <h3>Please Wait...</h3>
  </div>
  <!--Header-->
  <div class="text-center">
    <h3><i class="fa fa-envelope"></i> Send us an Inquiry:</h3>
    <hr class="mt-2 mb-2" />
  </div>

  <!--Body-->
  <p>Submit your contact information. We will get back to you soon.</p>
  <br />
  <form [formGroup]="inquiryForm" (ngSubmit)="submit()">
    <!--Body-->
    <div class="text-center">
      <mat-form-field appearance="legacy">
        <mat-label>Your Name</mat-label>
        <input
          matInput
          placeholder="Full Name"
          formControlName="customerName"
        />
        <mat-icon matPrefix>person</mat-icon>
      </mat-form-field>
      <br />
      <mat-form-field appearance="legacy">
        <mat-label>Your Email</mat-label>
        <input matInput formControlName="email" />
        <mat-icon matPrefix>email</mat-icon>
      </mat-form-field>
      <br />
      <mat-form-field appearance="legacy">
        <mat-label>Your Contact No.</mat-label>
        <input matInput type="number" formControlName="contactNo" />
        <mat-icon matPrefix>phone</mat-icon>
      </mat-form-field>
      <br />
      <mat-form-field appearance="legacy">
        <mat-label>Leave a message</mat-label>
        <textarea matInput formControlName="message"></textarea>
      </mat-form-field>
      <br />
    </div>
    <div class="text-center">
      <button class="btn btn-default" type="submit">Submit</button>

      <div class="call">
        <br />
        <p>
          Or would you prefer to call?
          <br />
          <span><i class="fa fa-phone"> </i></span> + 94 774 565 280
        </p>
      </div>
    </div>
  </form>
</div>
