<!--Customer Table-->
<div>
  <mat-form-field>
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter($event)" />
  </mat-form-field>

  <div class="example-container mat-elevation-z8" *ngIf="ELEMENT_DATA">
    <table mat-table [dataSource]="dataSource">
      <!-- Name Column -->
      <ng-container matColumnDef="customerName">
        <th mat-header-cell *matHeaderCellDef>Customer Name</th>
        <td mat-cell *matCellDef="let element">
          <a fxFlexFill (click)="onUser(element._id)" class="mat-row-link">{{
            element.customerName
          }}</a>
        </td>
      </ng-container>

      <!-- NIC Column -->
      <ng-container matColumnDef="nic">
        <th mat-header-cell *matHeaderCellDef>NIC No.</th>
        <td mat-cell *matCellDef="let element">{{ element.nic }}</td>
      </ng-container>

      <!-- ContactNo Column -->
      <ng-container matColumnDef="contactNo">
        <th mat-header-cell *matHeaderCellDef>Contact No.</th>
        <td mat-cell *matCellDef="let element">
          {{ element.contactNo }}
        </td>
      </ng-container>

      <!-- Address Column -->
      <ng-container matColumnDef="address">
        <th mat-header-cell *matHeaderCellDef>Address</th>
        <td mat-cell *matCellDef="let element">
          {{ element.address }}
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </div>
</div>
