<!--Labour View Table-->
<div class="content">
  <mat-form-field>
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter($event)" />
  </mat-form-field>

  <div class="example-container mat-elevation-z8" *ngIf="ELEMENT_DATA">
    <table mat-table [dataSource]="dataSource">
      <!-- Labour Category Column -->
      <ng-container matColumnDef="labourCategory">
        <th mat-header-cell *matHeaderCellDef>Labour Category</th>
        <td mat-cell *matCellDef="let element">
          {{ element.labourCategory }}
        </td>
      </ng-container>

      <!-- Labour Type Column -->
      <ng-container matColumnDef="labourType">
        <th mat-header-cell *matHeaderCellDef>Labour Type</th>
        <td mat-cell *matCellDef="let element">{{ element.labourType }}</td>
      </ng-container>

      <!-- Labour Name Column -->
      <ng-container matColumnDef="labourName">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let element">
          <a fxFlexFill (click)="openDialog(element._id)" class="mat-row-link">
            {{ element.labourName }}</a
          >
        </td>
      </ng-container>

      <!-- nic Column -->
      <ng-container matColumnDef="labourNIC">
        <th mat-header-cell *matHeaderCellDef>NIC</th>
        <td mat-cell *matCellDef="let element">
          {{ element.labourNIC }}
        </td>
      </ng-container>

      <!-- Contact No Column -->
      <ng-container matColumnDef="labourContactNo">
        <th mat-header-cell *matHeaderCellDef>Contact No.</th>
        <td mat-cell *matCellDef="let element">
          {{ element.labourContactNo }}
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </div>
</div>
