.report-body {
  width: 210mm;
  height: 297mm;
  border-top: 2px solid rgb(0, 0, 0);
  border-bottom: 2px solid rgb(0, 0, 0);
  background-color: white;
  text-align: center;
}

.content {
  text-align: center;
  width: 200mm;
  font-family: "Times New Roman";
  margin-left: 1rem;
  margin-right: 1rem;
}
.address {
  text-align: left;
}

.date {
  text-align: right;
}
.title {
  font-weight: bold;
  margin-top: 1ex;
}
.chart {
  text-align: center;
}
.material {
  margin-top: 1rem;
  border-top: 1px solid rgb(0, 0, 0);
}

.gap1 {
  height: 6rem;
}
.footer {
  margin-top: 2rem;
  font-size: small;
}
