<mat-card *ngIf="labour">
  <form [formGroup]="labourEditForm" (ngSubmit)="submit(labour._id)">
    <mat-radio-group
      aria-label="Select an option"
      formControlName="labourCategory"
    >
      <mat-radio-button value="Permanent">Permanent</mat-radio-button>
      <mat-radio-button value="Temporary">Temporary</mat-radio-button>
    </mat-radio-group>
    <mat-form-field>
      <mat-label>Select the Labour Type</mat-label>
      <mat-select formControlName="labourType">
        <mat-option *ngFor="let labourType of labourTypes" [value]="labourType">
          {{ labourType }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Labour Name</mat-label>
      <input matInput type="text" formControlName="labourName" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Labour NIC</mat-label>
      <input matInput type="text" formControlName="labourNIC" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Contact No.</mat-label>
      <input matInput type="number" formControlName="labourContactNo" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Address</mat-label>
      <input matInput type="text" formControlName="labourAddress" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Joined Date</mat-label>
      <input matInput [matDatepicker]="picker" formControlName="joinedDate" />
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <button
      mat-raised-button
      class="mr-1"
      type="button"
      color="warn"
      (click)="onDelete(labour._id)"
    >
      Delete Labour
    </button>
    <button mat-raised-button class="mr-1" type="submit" color="primary">
      Update
    </button>
  </form>
</mat-card>
