<div class="alert alert-success" role="alert" *ngIf="result">
  <h3>Data Added Successfully!</h3>
</div>

<!--Add Material Card-->
<div>
  <form>
    <div class="ml-2" style="width: 20cm;">
      <mdb-card>
        <mdb-card-body>
          <mdb-card-title>
            <h2>Add New Material</h2>
          </mdb-card-title>
          <mdb-card-text>
            <form #addMaterial="ngForm" (ngSubmit)="submit(addMaterial)">
              <div class="row">
                <div>
                  <mat-form-field class="ml-3">
                    <mat-label>Select Material Category</mat-label>
                    <mat-select name="category" ngModel #category="ngModel">
                      <mat-option
                        *ngFor="let Category of categories"
                        [value]="Category"
                      >
                        {{ Category }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <a (click)="openInfo()">
                  <mdb-icon fas icon="info-circle"></mdb-icon>
                </a>
              </div>
              <div class="row">
                <div class="md-form ml-3">
                  <input
                    mdbInput
                    placeholder="brand"
                    type="text"
                    name="brand"
                    class="form-control-sm"
                    ngModel
                    #brand="ngModel"
                    (keyup)="(0)"
                  />
                  <label for="brand" class="">Brand</label>
                </div>
                <div class="md-form ml-3">
                  <input
                    mdbInput
                    placeholder="cement"
                    type="text"
                    name="material"
                    class="form-control-sm"
                    ngModel
                    #material="ngModel"
                    (keyup)="(0)"
                  />
                  <label for="material" class="">Material</label>
                </div>
                <div class="md-form ml-3">
                  <input
                    mdbInput
                    placeholder="50kg"
                    type="text"
                    name="size"
                    class="form-control-sm"
                    ngModel
                    #size="ngModel"
                    (keyup)="(0)"
                  />
                  <label for="size" class="">Size/Color/Size-Color</label>
                </div>
              </div>
              <div class="md-form">
                <input
                  mdbInput
                  required
                  readonly
                  type="text"
                  name="materialName"
                  class="form-control"
                  value="{{
                    brand.value + '-' + material.value + '-' + size.value
                  }}"
                />
                <label for="materialName" class="">Material Name</label>
              </div>
              <div class="row">
                <mat-form-field class="ml-3">
                  <mat-label>Unit</mat-label>
                  <input
                    matInput
                    type="text"
                    name="unit"
                    ngModel
                    #unit="ngModel"
                  />
                </mat-form-field>
              </div>

              <div class="md-form">
                <input
                  mdbInput
                  type="number"
                  name="unitCost"
                  class="form-control"
                  ngModel
                  #unitCost="ngModel"
                />
                <label for="unitCost" class="">Unit Cost(Rs.)</label>
              </div>
              <button
                mdbBtn
                class="float-right"
                type="submit"
                color="success"
                mdbWavesEffect
              >
                Add Material
              </button>
            </form>
          </mdb-card-text>
        </mdb-card-body>
      </mdb-card>
    </div>
  </form>
</div>
