<!--Add Material Payments Card-->
<div>
  <form>
    <div style="width: 20cm;">
      <mdb-card>
        <mdb-card-body>
          <mdb-card-title>
            <h2>Material Payments</h2>
          </mdb-card-title>
          <mdb-card-text *ngIf="material">
            <form [formGroup]="materialPaymentForm" (ngSubmit)="submit()">
              <div>
                <mat-form-field style="width: 500px !important;">
                  <input
                    type="text"
                    placeholder="Material Name"
                    aria-label="Number"
                    matInput
                    formControlName="materialName"
                    [formControl]="materialControl"
                    [matAutocomplete]="autoMaterial"
                  />
                  <mat-autocomplete
                    #autoMaterial="matAutocomplete"
                    (optionSelected)="onChange($event.option.value)"
                  >
                    <mat-option
                      *ngFor="let material of filteredMaterials | async"
                      [value]="material"
                    >
                      {{ material }}
                    </mat-option>
                  </mat-autocomplete>
                </mat-form-field>
              </div>

              <mat-form-field style="width: 500px !important;">
                <input
                  type="text"
                  placeholder="Supplier Name"
                  aria-label="Number"
                  matInput
                  formControlName="supplierName"
                  [formControl]="supplierControl"
                  [matAutocomplete]="autoSupplier"
                />
                <mat-autocomplete #autoSupplier="matAutocomplete">
                  <mat-option
                    *ngFor="let supplier of filteredSuppliers | async"
                    [value]="supplier"
                  >
                    {{ supplier }}
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>
              <mat-form-field style="width: 500px !important;">
                <input
                  type="text"
                  placeholder="Project Name"
                  aria-label="Number"
                  matInput
                  [formControl]="projectControl"
                  formControlName="projectName"
                  [matAutocomplete]="autoProject"
                />
                <mat-autocomplete #autoProject="matAutocomplete">
                  <mat-option
                    *ngFor="let project of filteredProjects | async"
                    [value]="project"
                  >
                    {{ project }}
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>
              <div>
                <mat-form-field>
                  <mat-label>Quantity</mat-label>
                  <input matInput formControlName="quantity" type="number" />
                </mat-form-field>
                <mat-form-field class="ml-2">
                  <mat-label>Unit</mat-label>
                  <input matInput formControlName="unit" value="{{ unit }}" />
                </mat-form-field>
              </div>
              <div>
                <mat-form-field>
                  <mat-label>Payment Date</mat-label>
                  <input
                    matInput
                    [matDatepicker]="picker"
                    formControlName="date"
                  />
                  <mat-datepicker-toggle
                    matSuffix
                    [for]="picker"
                  ></mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
              </div>

              <mat-form-field style="width: 500px !important;">
                <mat-label>Amount(Rs.)</mat-label>
                <input matInput type="number" formControlName="amount" />
              </mat-form-field>

              <mat-form-field style="width: 500px !important;">
                <mat-label>Description</mat-label>
                <input matInput type="text" formControlName="description" />
              </mat-form-field>
              <div class="float-right">
                <button mat-raised-button color="primary">Save Payment</button>
              </div>
            </form>
          </mdb-card-text>
        </mdb-card-body>
      </mdb-card>
    </div>
  </form>
</div>
