.main-div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.stage {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2px;
  margin-left: 1rem;
}

.details {
  margin-top: 1rem;
  margin-left: 1rem;
  width: 100ex;
}

.edit {
  width: 100ex;
  margin-top: 1rem;
  margin-left: 1rem;
}

.button-group {
  margin-top: 10px;
  margin-left: 4px;
}
