<mat-tab-group class="ml-2">
  <mat-tab label="Customer">
    <app-customer-view-payments></app-customer-view-payments>
  </mat-tab>
  <mat-tab label="Labour">
    <app-labour-view-payments></app-labour-view-payments>
  </mat-tab>
  <mat-tab label="Material">
    <app-material-view-payments></app-material-view-payments>
  </mat-tab>
  <mat-tab label="Machinery">
    <app-machinery-view-payments></app-machinery-view-payments>
  </mat-tab>
  <mat-tab label="Utility and Transport">
    <app-utility-view-payments></app-utility-view-payments>
  </mat-tab>
</mat-tab-group>
