<!--Add Tools Payments Card-->
<div>
  <form>
    <div style="width: 20cm;">
      <mdb-card>
        <mdb-card-body>
          <mdb-card-title>
            <h2>Tools Payments</h2>
          </mdb-card-title>
          <mdb-card-text>
            <form #machineryPaymentsForm="ngForm">
              <div>
                <mat-form-field style="width: 500px !important;">
                  <input
                    type="text"
                    placeholder="Tools Name"
                    aria-label="Number"
                    matInput
                    [formControl]="toolsControl"
                    [matAutocomplete]="autoTools"
                  />
                  <mat-autocomplete #autoTools="matAutocomplete">
                    <mat-option
                      *ngFor="let tool of filteredTools | async"
                      [value]="tool"
                    >
                      {{ tool }}
                    </mat-option>
                  </mat-autocomplete>
                </mat-form-field>
              </div>

              <mat-form-field style="width: 500px !important;">
                <input
                  type="text"
                  placeholder="Supplier Name"
                  aria-label="Number"
                  matInput
                  [formControl]="supplierControl"
                  [matAutocomplete]="autoSupplier"
                />
                <mat-autocomplete #autoSupplier="matAutocomplete">
                  <mat-option
                    *ngFor="let supplier of filteredSuppliers | async"
                    [value]="supplier"
                  >
                    {{ supplier }}
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>

              <mat-form-field style="width: 500px !important;">
                <mat-label>Payment Date</mat-label>
                <input matInput [matDatepicker]="picker" />
                <mat-datepicker-toggle
                  matSuffix
                  [for]="picker"
                ></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>

              <div class="row">
                <mat-form-field class="ml-3">
                  <mat-label>Payment Type</mat-label>
                  <mat-select name="type" ngModel #type="ngModel">
                    <mat-option *ngFor="let type of types" [value]="type">
                      {{ type }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
                <mat-form-field class="ml-5">
                  <mat-label>Amount(Rs.)</mat-label>
                  <input
                    matInput
                    type="number"
                    name="amount"
                    ngModel
                    #amount="ngModel"
                  />
                </mat-form-field>
              </div>
              <mat-form-field style="width: 500px !important;">
                <mat-label>Description</mat-label>
                <input
                  matInput
                  type="text"
                  name="description"
                  ngModel
                  #description="ngModel"
                />
              </mat-form-field>
              <div class="float-right">
                <button mat-raised-button color="primary">Save Payment</button>
              </div>
            </form>
          </mdb-card-text>
        </mdb-card-body>
      </mdb-card>
    </div>
  </form>
</div>
