<mat-card *ngIf="project && element && !imageView">
  <mat-card-title>Stage Details</mat-card-title>
  <mat-card-content>
    <h1>Ceiling/Roofing Stage</h1>
    <form [formGroup]="roofingForm" (ngSubmit)="submit()">
      <input hidden formControlName="elementid" />
      <input hidden formControlName="projectName" />
      <mat-form-field style="width: 250px !important;">
        <mat-label>Stage Name</mat-label>
        <input matInput formControlName="stageName" />
      </mat-form-field>
      <mat-form-field style="width: 500px !important;">
        <input
          type="text"
          placeholder="Stage Supervisor"
          aria-label="Number"
          matInput
          formControlName="labourName"
          [formControl]="labourControl"
          [matAutocomplete]="autoLabour"
        />
        <mat-autocomplete #autoLabour="matAutocomplete">
          <mat-option
            *ngFor="let labourName of filteredLabourNames | async"
            [value]="labourName"
          >
            {{ labourName }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
      <mat-form-field style="width: 500px !important;">
        <mat-label>Starting Date</mat-label>
        <input
          matInput
          [matDatepicker]="picker"
          formControlName="startingDate"
        />
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <mat-form-field style="width: 500px !important;">
        <mat-label>Ending Date</mat-label>
        <input
          matInput
          [matDatepicker]="endDatePicker"
          formControlName="endingDate"
        />
        <mat-datepicker-toggle
          matSuffix
          [for]="endDatePicker"
        ></mat-datepicker-toggle>
        <mat-datepicker #endDatePicker></mat-datepicker>
      </mat-form-field>
      <mat-form-field class="ml-3">
        <mat-label>Project Status</mat-label>
        <mat-select formControlName="status">
          <mat-option *ngFor="let status of statuses" [value]="status">
            {{ status }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <button mat-raised-button color="primary" type="submit">Update</button>
      <button
        mat-raised-button
        class="ml-3"
        color="warn"
        type="button"
        (click)="onRemove()"
      >
        Remove Stage
      </button>
      <button
        mat-button
        class="ml-3"
        color="primary"
        type="button"
        (click)="onImages()"
      >
        Images
      </button>
      <button
        mat-button
        class="ml-3"
        color="warn"
        type="button"
        (click)="onTask(element._id)"
      >
        Tasks
      </button>
    </form>
  </mat-card-content>
</mat-card>
<mat-card class="imageCard" *ngIf="imageView">
  <h2>Images of {{ element.stageName }}</h2>
  <button mat-icon-button style="color: green;" (click)="onBack()">
    <mat-icon>arrow_back</mat-icon>
  </button>

  <button
    mat-raised-button
    color="primary"
    class="float-right"
    (click)="openDialog(element._id)"
  >
    Upload Image
  </button>
  <div class="row" *ngIf="images">
    <mat-card class="col-md-4" *ngFor="let image of images">
      <mat-card-title>
        <div class="row">
          <div class="col-sm-8">
            <h4>{{ image.imageName }}</h4>
            <h4>{{ image.date | date }}</h4>
          </div>
          <div class="col-sm-3">
            <button
              mat-icon-button
              class="ml-3"
              color="warn"
              (click)="deleteImage(image._id)"
            >
              <mat-icon>delete</mat-icon>
            </button>
          </div>
        </div>
      </mat-card-title>
      <img mat-card-image [src]="image.imagePath" />
    </mat-card>
  </div>
</mat-card>
