<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    style="background-color: rgb(95, 95, 95) !important;"
    #drawer
    class="sidenav"
    fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false"
  >
    <div>
      <mat-toolbar>
        <span style="color: honeydew;">Menu</span>
      </mat-toolbar>
      <mat-nav-list>
        <a
          mat-list-item
          routerLink="customerPayments"
          style="color: honeydew !important;"
          >Customer Payments</a
        >
        <a
          mat-list-item
          routerLink="labourPayments"
          style="color: honeydew !important;"
          >Labour Payments</a
        >
        <a
          mat-list-item
          routerLink="materialPayments"
          style="color: honeydew !important;"
          >Material Payments</a
        >
        <a
          mat-list-item
          routerLink="machineryPayments"
          style="color: honeydew !important;"
          >Machinery Payments</a
        >
        <a
          mat-list-item
          routerLink="utilityPayments"
          style="color: honeydew !important;"
          >Utility and Transport Payments</a
        >
      </mat-nav-list>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async"
      >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Payments</span>
      <button mat-raised-button color="primary" class="ml-3" routerLink="view">
        View Payments
      </button>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
