@media all and (min-width: 768px) {
  tr {
    td {
      vertical-align: middle !important;
    }
    span {
      &:not([class]) {
        padding: 1rem 1rem;
      }
    }
  }
}
.mat-form-field {
  margin-left: 1rem;
  font-size: 14px;
  width: 20%;
}
