<div class="alert alert-success" role="alert" *ngIf="result">
  <h3>Data Added Successfully!</h3>
</div>

<!--Machinery Details Card-->

<div class="ml-2" style="width: 20cm;" *ngIf="machineryTypes">
  <mdb-card>
    <mdb-card-body>
      <mdb-card-title>
        <h2>Add New Machinery Details</h2>
      </mdb-card-title>
      <mdb-card-text>
        <form [formGroup]="machineryForm" (ngSubmit)="submit()">
          <mat-form-field>
            <mat-label>Select Machinery Type</mat-label>
            <mat-select formControlName="machineryType">
              <mat-option
                *ngFor="let machineryType of machineryTypes"
                [value]="machineryType.machineryType"
              >
                {{ machineryType.machineryType }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <button mat-button (click)="machineryTypeAdd()" color="primary">
            Manage Machinery Types
          </button>
          <div class="md-form">
            <input
              mdbInput
              required
              type="text"
              formControlName="machineryName"
              class="form-control"
            />
            <label for="machineryName" class="">Machinery Name</label>
            <a (click)="openInfo()">
              <mdb-icon fas icon="info-circle"></mdb-icon>
            </a>
          </div>
          <div>
            <mat-form-field>
              <mat-label>Condition</mat-label>
              <mat-select formControlName="machineryCondition">
                <mat-option
                  *ngFor="let condition of conditions"
                  [value]="condition"
                >
                  {{ condition }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div>
            <mat-form-field>
              <mat-label>Choose a date</mat-label>
              <input matInput [matDatepicker]="picker" formControlName="date" />
              <mat-datepicker-toggle
                matSuffix
                [for]="picker"
              ></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
          </div>
          <button
            mdbBtn
            class="float-right"
            type="submit"
            color="success"
            mdbWavesEffect
          >
            Add Machinery
          </button>
        </form>
      </mdb-card-text>
    </mdb-card-body>
  </mdb-card>
</div>
