<div class="alert alert-danger" role="alert" *ngIf="error">
  <h3>Warning!!</h3>
  <p>{{ error.error.msg }}</p>
  <p>{{ error.error.reorderLevel }}</p>
</div>
<div class="alert alert-success" role="alert" *ngIf="result">
  <h3>Data Added Successfully!</h3>
</div>

<!--Material Consumption Card-->

<div class="ml-2" style="width: 20cm;">
  <mdb-card>
    <mdb-card-body>
      <mdb-card-title class="row">
        <h2>Material Consumption</h2>
        <div class="float-right">
          <button
            mdbBtn
            class="btnOkay"
            size="sm"
            color="primary"
            (click)="onView()"
          >
            View Material Consumption
          </button>
        </div>
      </mdb-card-title>
      <mdb-card-text>
        <form [formGroup]="materialConsumptionForm" (ngSubmit)="submit()">
          <div class="ml-2">
            <mat-form-field style="width: 500px !important;">
              <input
                type="text"
                placeholder="Project Name"
                aria-label="Number"
                matInput
                formControlName="projectName"
                [formControl]="projectControl"
                [matAutocomplete]="autoProject"
              />
              <mat-autocomplete
                #autoProject="matAutocomplete"
                (optionSelected)="onProjectChange($event.option.value)"
              >
                <mat-option
                  *ngFor="let projectName of filteredProjectNames | async"
                  [value]="projectName"
                >
                  {{ projectName }}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
            <mat-form-field *ngIf="stages" style="width: 500px !important;">
              <mat-label>Stage Name</mat-label>
              <mat-select formControlName="stageName">
                <mat-option
                  *ngFor="let stage of stages"
                  [value]="stage.stageName"
                >
                  {{ stage.stageName }}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field style="width: 500px !important;">
              <input
                type="text"
                placeholder="Material Name"
                aria-label="Number"
                matInput
                formControlName="materialName"
                [formControl]="materialControl"
                [matAutocomplete]="autoMaterial"
              />
              <mat-autocomplete
                #autoMaterial="matAutocomplete"
                (optionSelected)="onChange($event.option.value)"
              >
                <mat-option
                  *ngFor="let materialName of filteredMaterialNames | async"
                  [value]="materialName"
                >
                  {{ materialName }}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
          </div>
          <div class="row ml-2">
            <mat-form-field>
              <mat-label>Quantity</mat-label>
              <input matInput formControlName="quantity" type="number" />
            </mat-form-field>
            <mat-form-field class="ml-2">
              <mat-label>Unit</mat-label>
              <input matInput formControlName="unit" value="{{ unit }}" />
            </mat-form-field>
          </div>
          <div class="ml-2">
            <mat-form-field>
              <mat-label>Choose a date</mat-label>
              <input matInput [matDatepicker]="picker" formControlName="date" />
              <mat-datepicker-toggle
                matSuffix
                [for]="picker"
              ></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
          </div>
          <button
            mdbBtn
            class="float-right"
            type="submit"
            color="success"
            mdbWavesEffect
          >
            Add Consumption
          </button>
        </form>
      </mdb-card-text>
    </mdb-card-body>
  </mdb-card>
</div>
